.register_container {
    width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .register_left_side {
    width: 800px;
    height: 100vh;
    background-image: url("../public/register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .register_right_side {
    width: 640px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .register_right_side_container {
    width: 350px;
    height: 331px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .register_right_side_title {
    color: #1e1e1e;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
    display: flex;
  }
  .register_right_side_inputs {
    position: relative;
  }
  .register_right_side_inputs input {
    width: 100%;
    height: 40px;
    border: 1px #cbcbcb solid;
    border-radius: 5px;
    padding-right: 30px;
    color: #5f5f5f;
    box-sizing: border-box;
  }
  .register_right_side_inputs_i {
    position: absolute;
    box-sizing: border-box;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    color: #1e1e1e;
  }
  
  .register_right_side_inputs_i2 {
    position: absolute;
    box-sizing: border-box;
    top: 60%;
    right: 5px;
    transform: translateY(-50%);
    color: #1e1e1e;
    font-size: large;
  }
  
  .register_ruls {
    display: flex;
  }
  .register_ruls input {
    margin-left: 10px;
    width: 24px;
  }
  .register_ruls p {
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 300;
    line-height: 33px;
    word-wrap: break-word;
  }
  
  .register_btn {
    height: 56px;
    background: gray;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .css-1hdyuqk-MuiPaper-root-MuiAlert-root,
  .css-to2f46-MuiPaper-root-MuiAlert-root {
    direction: ltr;
  }
  
  @media screen and (max-width: 600px) {
    .register_container {
      width: 100%;
      height: 500px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center;
    }
    .register_left_side {
      width: 90%;
      height: 50%;
      margin-top: 30px;
      border-radius: 10px;
    }
    .register_right_side {
      width: 80%;
      height: 45%;
    }
    .register_right_side_container {
      width: 100%;
      height: 100%;
    }
  
    .register_ruls input {
      width: 14px;
    }
    .register_btn {
      height: 46px;
    }
  }
  