.showmovies_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showmovies_content {
  width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.showmovies_item {
  width: 180px;
  height: 250px;
  background-color: rgb(243, 243, 243);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  padding: 10px;
}

.showmovies_link {
  height: 200px;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.showmovies_poster {
  width: 180px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.showmovies_poster_img {
  border-radius: 10px;
}
.showmovies_text {
  font-weight: 700;
}
.showmovies_like {
  font-size: x-large;
}
