.UserAccount_container {
    width: 889px;
    height: 449px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #fff;
  }
  .UserAccount_content {
    width: 731px;
    height: 376px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .UserAccount_inside {
    width: 731px;
    height: 272px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .UserAccount_profile {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  .UserAccount_rightside_inputs {
    width: 203px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10px;
  }
  .UserAccount_rightside_inputs input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid #585858;
    font-size: 14px;
    padding-left: 10px;
  }
  .UserAccount_rightside_inputs p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 13px;
    font-weight: 600;
  }
  .UserAccount_leftside_inputs {
    width: 203px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .UserAccount_leftside_inputs input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid #585858;
    color: #929292;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-left: 10px;
  }
  .UserAccount_leftside_inputs p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  /* @media screen and (max-width: 600px) {
    .UserAccount_container {
      width: 95%;
      height: 600px;
      margin-top: 30px;
      justify-content: flex-start;
    }
    .UserAccount_content {
      width: 100%;
      justify-content: space-evenly;
    }
    .UserAccount_inside {
      width: 80%;
      flex-direction: column;
    }
    .UserAccount_inside img {
      display: none;
    }
    .UserAccount_rightside_inputs {
      width: 100%;
    }
    .UserAccount_leftside_inputs {
      width: 100%;
    }
  } */
  